body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Ariel, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-family: Paprika, system-ui;
}
