.paprika-regular {
  font-family: "Paprika", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Paprika, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-family: Paprika, sans-serif;
}
